/*.advantages {
  box-sizing: border-box;

  position: relative;

  padding: 0;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 93px 0 0 15px;
  padding: 0;

  list-style: none;
}

.advantages__slider-wrapper {
  display: none;
}

.advantages__item {
  position: relative;

  width: 200px;

  padding-top: 100px;

  p {
    @include fontRobotoRegular(15px, 20px, #ffffff);
    text-align: center;

    opacity: 0.6;
  }

  &--quality {
    margin-right: 25px;

    &::before {
      content: "";

      position: absolute;
      top: 26px;
      left: 68px;

      width: 62px;
      height: 64px;

      background: url("../img/icon-like.png") no-repeat 0 0;
    }
  }

  &--deadlines {
    width: 165px;

    &::before {
      content: "";

      position: absolute;
      top: 41px;
      left: 46px;

      width: 74px;
      height: 49px;

      background: url("../img/icon-handshake.png") no-repeat 0 0;
    }
  }

  &--production {
    width: 240px;

    &::before {
      content: "";

      position: absolute;
      top: 21px;
      left: 87px;

      width: 70px;
      height: 69px;

      background: url("../img/icon-settings.png") no-repeat 0 0;
    }
  }
}

.advantages__buttons-container {
  display: none;
}

@media (max-width: $tablet-width) {
  .advantages__list {
    position: relative;

    margin-left: auto;
    margin-right: auto;

    width: 720px;

    &--desktop {
      display: none;
    }
  }

  .advantages__slider-wrapper {
    display: block;
  }

  .advantages__item {
    padding-top: 110px;
    padding-bottom: 10px;

    width: 33.33333%;

    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);

    p {
      font-size: 12px;
      line-height: 16.26px;
      color: #000000;
    }

    &--quality {
      margin: 0;

      p {
        margin-left: auto;
        margin-right: auto;

        width: 200px;
      }

      &::before {
        top: 50px;
        left: 85px;

        background: url("../img/icon-like-tablet.png") no-repeat 0 0;
      }
    }

    &--deadlines {
      p {
        margin-left: auto;
        margin-right: auto;

        width: 160px;
      }

      &::before {
        top: 55px;
        left: 75px;

        width: 89px;
        height: 59px;

        background: url("../img/icon-handshake-tablet.png") no-repeat 0 0;
      }
    }

    &--production {
      p {
        margin-left: auto;
        margin-right: auto;

        width: 200px;
      }

      &::before {
        top: 47px;
        left: 90px;

        width: 70px;
        height: 69px;

        background: url("../img/icon-settings-tablet.png") no-repeat 0 0;
      }
    }

    &--active {
      z-index: 5;

      transform: scale(1.18, 1.18);

      background-color: #ffffff;

      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;

        opacity: 1;

        transform: scale(0.82, 0.82) translateY(-8px);
      }

      &::before {
        transform: scale(0.82, 0.82) translateY(4px);
      }
    }
  }

  .advantages__buttons-container {
    display: none;

    margin: 20px auto 0 auto;
    padding: 0 0 0 9px;

    width: 40px;
  }

  .advantages__button {
    margin: 0 0 0 1px;
    padding: 0;

    width: 8px;
    height: 8px;

    border: none;
    border-radius: 50%;

    background-color: #dddddd;

    &--active {
      background-color: #00ffd7;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages__list {
    box-sizing: border-box;

    margin-top: 0;

    width: 280px;

    border: 1px solid #dddddd;
  }

  .advantages__item {
    display: none;

    &--active {
      display: block;

      padding-top: 100px;
      padding-bottom: 27px;

      width: 100%;

      background-color: transparent;

      transform: none;

      p {
        margin-top: 17px;

        width: 160px;

        transform: none;
      }

      &::before {
        transform: none;
      }
    }

    &--deadlines {
      &::before {
        top: 42px;
        left: 95px;
      }
    }
  }

  .advantages__buttons-container {
    margin-top: 0;
    padding-left: 7px;
  }

  .advantages__button {
    margin-left: 1px;

    width: 6px;
    height: 6px;

    &--active {
      width: 8px;
      height: 8px;
    }
  }
}*/
