.partners {
  box-sizing: border-box;

  margin: 110px 0 0 0;
  padding: 0 0 10px 0;

  h2 {
    margin: 0;
    padding: 0 0 0 17px;

    width: 303px;

    @include fontRalewayBlack(30px, 50px);
    letter-spacing: 1.2px;
    text-transform: uppercase;

    background-color: #ffffff;
  }

  span {
    display: none;
  }
}

.partners__wrapper {
  box-sizing: border-box;

  position: relative;

  margin: 0 auto;
  padding: 0;

  max-width: 1190px;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 21px;
    left: 0;

    width: 87%;
    height: 2px;

    background-color: #000000;
  }
}

.partners__inner-wrapper {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.partners__buttons-wrapper {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  position: relative;

  margin: 5px 2px 0 0;
  padding: 0;

  width: 116px;
  height: 34px;

  border: 2px solid #292929;

  background-color: #ffffff;

  button {
    box-sizing: border-box;

    position: relative;

    margin: 0;
    padding: 0;

    width: 48%;
    height: 100%;

    border: none;

    background-color: transparent;

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      right: 13px;

      width: 0;
      height: 0;

      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      border-left: 4px solid #000000;
    }

    &::after {
      content: "";

      position: absolute;
      top: 14px;
      right: 14px;

      width: 16px;
      height: 2px;

      background-color: #000000;
    }

    &:first-of-type {
      width: 50%;

      &::before {
        left: 13px;

        transform: rotate(180deg);
      }

      &::after {
        left: 14px;
      }
    }

    &:hover {
      background-color: #00ffd8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 39%;
    left: 50%;

    width: 1px;
    height: 7px;

    background-color: #000000;
  }
}

.partners__list {
  box-sizing: border-box;

  display: flex;

  margin: 40px 0 0 0;
  padding: 0 0 0 17px;

  list-style: none;
}

.partners__item {
  box-sizing: border-box;

  margin: 0 25px 0 0;
  padding: 0;

  width: 270px;
  height: 137px;

  border: 1px solid #d6d6d6;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &--ava {
    img {
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;

      width: 175px;
      height: 127px;
    }
  }

  &--mirror {
    img {
      margin-left: auto;
      margin-right: auto;

      width: 167px;
      height: 121px;
    }
  }

  &--shield {
    img {
      margin-left: auto;
      margin-right: auto;

      width: 211px;
      height: 135px;
    }
  }

  &--teplo {
    img {
      margin-left: auto;
      margin-right: auto;

      width: 173px;
      height: 135px;
    }
  }
}

.partners__slider-buttons-container {
  display: none;
}

@media (max-width: $tablet-width) {
  .partners {
    margin-top: 64px;
    padding-bottom: 50px;

    h2 {
      padding-left: 0;

      font-size: 26px;
      letter-spacing: 1.04px;
    }

    span {
      display: inline;
    }
  }

  .partners__wrapper {
    width: 724px;

    &::before {
      display: none;
    }
  }

  .partners__buttons-wrapper {
    display: none;
  }

  .partners__list {
    position: relative;
    align-items: center;

    margin-top: 8px;
    margin-left: 0;
    padding-left: 0;
  }

  .partners__item {
    margin-right: 0;

    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);

    border: none;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &--ava {
      width: 230px;
      height: 180px;

      img {
        margin-top: 55px;
        margin-left: auto;
        margin-right: auto;

        width: 149px;
        height: 81px;
      }
    }

    &--mirror {
      img {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      background-color: #ffffff;
    }

    &--shield {
      width: 211px;
      height: 190px;

      img {
        margin-left: auto;
        margin-right: auto;

        width: 211px;
        height: 169px;
      }
    }

    &--teplo {
      img {
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .partners__slider-buttons-container {
    display: none;

    margin: 2px auto 0 auto;
    padding: 0 0 0 18px;

    width: 60px;
  }

  .partners__slider-button {
    margin: 0 0 0 1px;
    padding: 0;

    width: 6px;
    height: 6px;

    border: none;
    border-radius: 50%;

    background-color: #dddddd;

    &--active {
      width: 8px;
      height: 8px;

      background-color: #00ffd7;
    }

    &:first-of-type {
      width: 4px;
      height: 4px;
    }

    &:nth-of-type(4) {
      width: 5px;
      height: 5px;
    }
  }
}

@media (max-width: $mobile-width) {
  .partners {
    margin-top: 20px;
    padding-bottom: 15px;


    h2 {
      font-size: 20px;
      letter-spacing: 0.8px;
    }

    span {
      display: none;
    }
  }

  .partners__wrapper {
    min-width: 280px;
    max-width: 80%;
  }

  .partners__list {
    margin-top: 6px;
  }

  .partners__item {
    width: 100%;
    height: 135px;

    border: 1px solid #d7d7d7;

    &--ava {
      img {
        margin-top: 26px;
        margin-left: 68px;
      }
    }
  }

  .partners__slider-buttons-container {
    margin-top: 4px;
    padding-left: 27px;
  }
}
