.button {
  box-sizing: border-box;

  display: block;

  padding: 3px 36px 2px 36px;

  @include fontRobotoMedium(16px, 40px);
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;

  background-color: #00ffd8;

  &:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 255, 216, 0.6);
  }

  &:active {
    opacity: 0.5;
    box-shadow: 0 1px 2px 1px rgba(0, 255, 216, 0.6);
  }

  &--services {
    width: 300px;

    padding: 15px 0 15px 0;

    @include fontRobotoBlack(20px, 26px);
    text-transform: uppercase;
    text-align: center;
  }

  &--contacts {
    width: 300px;

    padding: 14px 0 14px 0;

    @include fontRobotoBlack(20px, 26px, #ffffff);
    text-transform: uppercase;
    text-align: center;

    border: 1px solid #bbfff5;

    box-shadow: 0 2px 3px 1px rgba(0, 255, 216, 0.27);

    background-color: transparent;
  }

  &--form {
    padding: 3px 30px 7px 36px;

    width: 230px;

    @include fontRalewayBold(25px, 50px, #ffffff);
    letter-spacing: 1px;

    background-color: #000000;

    border: none;

    &:hover {
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (max-width: $tablet-width) {
  .button {
    &--services {
      width: 290px;

      font-size: 16px;
    }

    &--contacts {
      width: 290px;

      font-size: 16px;
    }

    &--form {
      width: 165px;

      font-size: 16px;
      line-height: 35.6px;
      letter-spacing: 0.9px;
    }
  }
}

@media (max-width: $mobile-width) {
  .button {
    &--services {
      width: 280px;

      font-size: 16px;
    }

    &--contacts {
      width: 280px;

      font-size: 16px;
    }
  }
}
