.logo {
  box-sizing: border-box;

  padding: 0;

  width: 150px;

  img {
    width: 141px;
    height: 60px;
  }
}

@media (max-width: $tablet-width) {
  .logo {
    img {
      width: 86px;
      height: 37px;
    }
  }
}
