.page-header {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}


.page-header__decor-wrapper {
  margin: 0 auto;

  max-width: 1190px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;

  padding: 15px 0 0 0;
}

.page-header__menu-button {
  display: none;
}

.page-header__logo {
  margin: 5px 0 0 17px;
}

@media (max-width: $tablet-width) {
  .page-header {
    position: relative;
  }

  .page-header__wrapper {
    position: relative;

    justify-content: space-between;

    padding-top: 3px;
  }

  .page-header__menu-button {
    display: block;

    position: absolute;
    top: 16px;
    left: 124px;

    width: 26px;
    height: 21.5px;

    border: none;
    border-top: 2px solid #b1b1b1;
    border-bottom: 2px solid #b1b1b1;

    background-color: transparent;

    &::before {
      content: "";

      position: absolute;
      top: 8px;
      left: 0;

      width: 26px;
      height: 2px;

      background-color: #b1b1b1;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .page-header__decor-wrapper {
    position: relative;

    margin: 0 auto;
    width: 640px;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__hidden-nav {
    position: absolute;
    top: 52px;
    left: 0;

    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-header__logo {
    margin-top: 4px;
    margin-left: 20px;
  }

  .page-header__decor-wrapper {
    width: 320px;
  }

  .page-header__menu-button {
    top: 18px;
    left: 88%;

    width: 18px;
    height: 14px;

    &::before {
      top: 4px;

      width: 18px;
    }
  }

  .page-header__hidden-nav {
    top: 50px;
  }
}
