// Features

.swiper-container-features {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.features__list {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.features__item {
  position: relative;

  p {
    padding-top: 100px;
  }

  &--quality {
    &::before {
      content: "";

      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -63%);

      width: 62px;
      height: 64px;

      background: url("../img/icon-like.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }

  &--deadlines {
    &::before {
      content: "";

      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -60%);

      width: 74px;
      height: 49px;

      background: url("../img/icon-handshake.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }

  &--production {
    &::before {
      content: "";

      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -63%);

      width: 70px;
      height: 69px;

      background: url("../img/icon-settings.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }
}

.features__icon {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 29px;
  fill: rgba(255, 255, 255, 0.6);

  &--like {
    width: 62px;
    height: 64px;
  }

  &--handshake {
    width: 74px;
    height: 49px;
  }

  &--settings {
    width: 70px;
    height: 69px;
  }
}

@media (max-width: 1199px) {
  .swiper-container-features {
    margin: 0 0 0 -15px;
  }

  .features {
    background-color: #ffffff;
  }

  .features__list {
    box-sizing: border-box;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 7px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;
  }

  .features__item {
    p {
      padding-top: 70px;
    }

    &--quality {
      &::before {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -60%);

        width: 62px;
        height: 64px;

        background: url("../img/icon-like-tablet.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    &--deadlines {
      &::before {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -60%);

        width: 74px;
        height: 49px;

        background: url("../img/icon-handshake-tablet.png") no-repeat 0 0;
        background-size: cover;
      }
    }

    &--production {
      &::before {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -60%);

        width: 70px;
        height: 69px;

        background: url("../img/icon-settings-tablet.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .swiper-container-features {
    margin-left: 0;
  }

  .features__list {
    margin-bottom: 5px;
    padding-top: 40px;
    padding-bottom: 0;
  }

  .features__item {
    p {
      padding-top: 74px;
    }
  }
}

.features__desc {
  box-sizing: border-box;
  margin: 0;
  padding: 70px 0 0 0;

  @include fontRobotoRegular(15px, 20px);
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1199px) {
  .features__desc {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 767px) {
  .features__desc {
    font-size: 14px;
    line-height: 20px;
  }
}

.features__wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1199px) {
  .features__wrap {
    min-height: 177px;
    padding: 32px 10px;
    padding-bottom: 35px;
    background-color: #ffffff;
    box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 767px) {
  .features__wrap {
    padding: 42px 10px;
    box-shadow: none;
    border: 1px solid #dddddd;
  }
}

@media (max-width: 1199px) {
  .features__icon {
    margin-bottom: 6px;
    fill: #b2b2b2;
  }
}

@media (max-width: 767px) {
  .features__icon {
    margin-bottom: 17px;
  }
}

@media (max-width: 1199px) {
  .features__toggles {
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    top: -22px;
    max-width: 7%;
    min-height: 8px;
    margin: 0 0 0 48.3%;
  }
}

@media (max-width: 767px) {
  .features__toggles {
    position: static;
    min-width: 55px;
    margin-left: auto;
    margin-right: auto;

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;

      &-active {
        width: 8px;
        height: 8px;
      }
    }
  }
}

@media (max-width: 330px) {
  .features__toggles {
    margin-left: 43%;
  }
}

.features .swiper-slide {
  width: 20%;
}

@media (max-width: 1199px) {
  .features .swiper-slide {
    width: auto;
    box-sizing: border-box;
    min-height: 175px;
  }

  .features .swiper-slide-active {
    min-height: 200px;
    min-width: 280px;

    &::before {
      transform: translate(-50%, -60%) scale(1.202, 1.202);
    }

    p {
      font-weight: 700;
    }
  }

  .features .swiper-slide-active .features__wrap {
    padding: 0 15px;
    padding-top: 49px;
    padding-bottom: 42px;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.05);
  }

  .features .swiper-slide-active .features__wrap .features__desc {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  .features .swiper-slide-active .features__wrap .features__icon {
    margin-bottom: 10px;
    fill: #000000;
  }
}

@media (max-width: 767px) {
  .features .swiper-slide {
    width: 100%;
  }

  .features .swiper-slide-active {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .features .swiper-slide-active .features__wrap {
    padding: 42px 10px;
    box-shadow: none;
    border: 1px solid #dddddd;
  }

  .features .swiper-slide-active .features__wrap .features__icon {
    margin-bottom: 17px;
  }
}

.toggles--hidden {
  display: none;
}

@media (max-width: 1199px) {
  .toggles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.toggles__item {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 8px;
  height: 8px;
  background-color: #dddddd;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .toggles__item {
    width: 6px;
    height: 6px;
  }
}


// Партнеры

.partners {
  position: relative;

  margin: 108px auto 0 auto;
  padding-bottom: 15px;

  max-width: 1190px;

  &::before {
    content: "";

    position: absolute;
    top: 23px;
    left: 0;

    width: 87%;
    height: 2px;

    background-color: #000000;
  }
}

.partners__title {
  margin: 0 0 40px 0;
  padding: 0 0 0 17px;

  width: 303px;

  @include fontRalewayBlack(30px, 50px);
  letter-spacing: 1.2px;
  text-transform: uppercase;

  background-color: #ffffff;

  span {
    display: none;
  }
}

@media (max-width: 1199px) {
  .partners__title {
    padding-left: 0;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 1.04px;

    span {
      display: inline;
    }
  }
}

@media (max-width: 767px) {
  .partners__title {
    padding-left: 19px;
    padding-bottom: 8px;

    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.8px;

    span {
      display: none;
    }
  }
}

.partners__arrows {
  box-sizing: border-box;

  position: absolute;
  top: 2px;
  right: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;

  margin: 5px 2px 0 0;
  padding: 0;

  width: 116px;
  height: 34px;

  border: 2px solid #292929;

  background-color: #ffffff;

  button {
    box-sizing: border-box;

    position: relative;

    margin: 0;
    padding: 0;

    width: 48%;
    height: 100%;

    border: none;

    background-color: transparent;

    outline: 0;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      right: 13px;

      width: 0;
      height: 0;

      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      border-left: 4px solid #000000;
    }

    &::after {
      content: "";

      position: absolute;
      top: 14px;
      right: 14px;

      width: 16px;
      height: 2px;

      background-color: #000000;
    }

    &:first-of-type {
      width: 50%;

      &::before {
        left: 13px;

        transform: rotate(180deg);
      }

      &::after {
        left: 14px;
      }
    }

    &:hover {
      background-color: #00ffd8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 39%;
    left: 50%;

    width: 1px;
    height: 7px;

    background-color: #000000;
  }
}

@media (max-width: 1199px) {
  .partners {
    max-width: 724px;

    margin-top: 75px;
    padding-bottom: 20px;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .partners {
    margin-top: 35px;

    min-width: 280px;
    width: 100%;

    padding-bottom: 29px;
  }
}

@media (max-width: 1199px) {
  .partners__title {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .partners__title {
    margin-bottom: 10px;
  }
}

.partners__container {
  position: relative;
}

@media (max-width: 1199px) {
  .partners__arrows {
    display: none;
  }
}

.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

@media (max-width: 1199px) {
  .partners__list {
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .partners__list {
    margin-bottom: 3px;
    padding: 0;
  }
}

.partners__item {
  box-sizing: border-box;

  min-width: 275px;
  max-width: 275px;
}

@media (max-width: 1199px) {
  .partners__item:first-child a {
    padding-top: 30px;
  }
}

@media (max-width: 1199px) {
  .partners__item {
    min-width: 230px;
    max-width: 230px;
    min-height: 169px;
  }
}

@media (max-width: 767px) {
  .partners__item {
    min-width: 280px;
    max-width: 100%;
    min-height: 137px;
    max-height: 137px;
  }
}

.partners__link {
  box-sizing: border-box;

  display: block;

  min-width: 275px;
  max-width: 275px;
  height: 137px;

  border: 1px solid #ededed;
  background-color: #ffffff;

  outline: 0;
}

.partners__link img {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.partners__link:hover img,
.partners__link:focus img {
  opacity: 1;
}

@media (max-width: 1199px) {
  .partners__link {
    box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 0;
    border: none;

    min-width: 230px;
    max-width: 100%;
    min-height: 169px;
  }
}

@media (max-width: 767px) {
  .partners__link {
    border: 1px solid #ededed;
    box-shadow: none;

    min-width: 100%;
    max-width: 100%;
    min-height: 137px;
    max-height: 137px;
  }
}

.partners__toggles {
  width: 6%;
  max-width: 70px;
  height: 12px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .partners__toggles {
    justify-content: space-between;
    position: relative;
    top: -30px;
    z-index: 5;
  }

  .partners__toggles .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .partners__toggles .swiper-pagination-bullet-active {
    transform: scale(1.333);
  }

  .partners__toggles .swiper-pagination-bullet:last-child:not(.swiper-pagination-bullet-active),
  .partners__toggles .swiper-pagination-bullet:first-child:not(.swiper-pagination-bullet-active) {
    transform: scale(0.667);
  }
}

@media (max-width: 767px) {
  .partners__toggles {
    margin-top: 5px;
    padding-left: 6px;

    position: static;
    width: 12%;
  }
}

.partners__img {
  object-fit: cover;
}

@media (max-width: 1199px) {
  .partners__img {
    position: relative;

    margin: 0;

    &--ava {
      padding-top: 40px;

      width: 149px;
      height: 81px;
    }

    &--mirror {
      width: 184px;
      height: 152px;
    }

    &--shield {
      width: 205px;
      height: 167px;
    }

    &--teplo {
      padding-top: 10px;

      width: 173px;
      height: 135px;
    }
  }
}

@media (max-width: 767px) {
  .partners__img {
    padding-top: 0;

    &--ava {
      padding-top: 25px;

      width: 149px;
      height: 81px;
    }

    &--mirror {
      width: 129px;
      height: 106px;
    }

    &--shield {
      width: 164px;
      height: 133px;
    }

    &--teplo {
      width: 173px;
      height: 133px;
    }
  }
}

@media (max-width: 1199px) {
  .partners .swiper-slide-active {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.05);

    min-width: 280px;
    max-width: 280px;
    min-height: 200px;

    background-color: #ffffff;

    .partners__link {
      padding-top: 10px;

      min-width: 280px;
      max-width: 280px;
      min-height: 200px;
    }
  }

  .partners .swiper-slide-active img {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .partners .swiper-slide-active {
    box-shadow: none;

    margin-left: 6%;
    margin-right: 6%;

    min-width: 88%;
    width: 88%;
    min-height: 137px;
    max-height: 137px;

    background-color: #ffffff;

    .partners__link {
      padding-top: 0;

      min-width: 100%;
      max-width: 100%;
      min-height: 136px;
      max-height: 136px;
    }
  }

  .partners .swiper-slide-active a {
    //padding: 12px;
  }

  .partners .swiper-slide-active img {
    //width: auto;
    //height: auto;
  }
}
