.contact-form {
  box-sizing: border-box;

  position: absolute;
  z-index: 5;
  top: -119px;
  right: 25%;

  display: block;

  margin: 0 auto;
  padding: 0;

  @media (max-width: 1060px) {
    right: 23%;
  }
}

@media (max-width: $tablet-width) {
  .contact-form {
    top: -69px;
    left: 3px;
  }
}

@media (max-width: $mobile-width) {
  .contact-form {
    position: static;
  }
}
