.footer-nav {
  box-sizing: border-box;

  padding: 0;
}

.footer-nav__list {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 310px;

  list-style: none;
}

.footer-nav__item {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  a {
    @include fontRobotoRegular(12px, auto, #d5d5d5);
    text-decoration: none;

    opacity: 0.5;
  }
}
