.footer {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 50px 0 50px 0;

  max-width: 1190px;
}

.footer__wrapper {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.footer__inner-wrapper {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.footer__logo {
  margin-top: 12px;
  margin-left: 19px;

  p {
    margin: 43px 0 0 0;
    padding: 0;

    width: 190px;

    @include fontRobotoRegular(16px, 38px, #fffffe);

    opacity: 0.9;
  }
}

.footer__nav {
  display: none;
}

.footer__social {
  margin: 47px 0 0 19px;
}

.footer__copyright {
  box-sizing: border-box;

  margin: 139px 0 0 0;
  padding: 0;

  p {
    margin: 0 0 0 15px;
    padding: 0;

    @include fontRobotoRegular(10px, 25px, #ffffff);
    letter-spacing: 0.4px;
    text-align: center;

    opacity: 0.25;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    width: 650px;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .footer__inner-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 15px;
    padding-right: 9px;

    width: 100%;
  }

  .footer__logo {
    margin-top: 0;
    margin-left: 5px;

    width: 137px;

    a {
      display: none;
    }

    p {
      margin-top: 0;

      width: 137px;

      font-size: 12px;
      line-height: auto;

      opacity: 0.5;
    }
  }

  .footer__nav {
    display: block;

    margin: 0 0 0 -6px;
  }

  .footer__social {
    margin: 12px 0 0 0;
  }
}
