.social {
  box-sizing: border-box;

  padding: 0;

  overflow: hidden;
}

.social__list {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  &:not(:nth-of-type(3n)) {
    margin-right: 30px;
  }

  a {
    position: relative;

    &:active {
      opacity: 0.5;
    }
  }

  &--vk {
    a {
      &:hover {
        &::before {
          content: "";

          position: absolute;
          bottom: 4px;
          left: 0;

          width: 35px;
          height: 21px;

          background: url("../img/icon-vk-white.png");
          background-size: 35px 21px;
        }
      }
    }

    img {
      width: 35px;
      height: 21px;
    }
  }

  &--twitter {
    a {
      &:hover {
        &::before {
          content: "";

          position: absolute;
          bottom: 4px;
          left: 0;

          width: 27px;
          height: 22px;

          background: url("../img/icon-twitter-white.png");
          background-size: 27px 22px;
        }
      }
    }

    img {
      width: 27px;
      height: 22px;
    }
  }

  &--fb {
    a {
      &:hover {
        &::before {
          content: "";

          position: absolute;
          bottom: 3px;
          left: 0;

          width: 14px;
          height: 26px;

          background: url("../img/icon-facebook-white.png");
          background-size: 14px 26px;
        }
      }
    }

    img {
      width: 14px;
      height: 26px;
    }
  }
}

@media (max-width: $tablet-width) {
  .social__item {
    &:not(:nth-of-type(3n)) {
      margin-right: 17px;
    }

    &--vk {
      a {
        &:hover {
          &::before {
            bottom: 3px;

            width: 22px;
            height: 14px;

            background-size: 22px 14px;
          }
        }
      }

      img {
        margin-top: 2px;

        width: 22px;
        height: 14px;
      }
    }

    &--twitter {
      a {
        &:hover {
          &::before {
            bottom: 3px;

            width: 17px;
            height: 14px;

            background-size: 17px 14px;
          }
        }
      }

      img {
        width: 17px;
        height: 14px;
      }
    }

    &--fb {
      a {
        &:hover {
          &::before {
            bottom: 3px;

            width: 9px;
            height: 16px;

            background-size: 9px 16px;
          }
        }
      }

      img {
        width: 9px;
        height: 16px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    padding: 16px 0 43px 20px;

    width: 100%;

    background-color: #1a1a1a;
  }

  .social__item {
    &:not(:nth-of-type(3n)) {
      margin-right: 32px;
    }

    &--vk {
      a {
        &:hover {
          &::before {
            bottom: 3px;

            width: 40px;
            height: 24px;

            background-size: 40px 24px;
          }
        }
      }

      img {
        margin-top: 5px;

        width: 40px;
        height: 24px;
      }
    }

    &--twitter {
      a {
        &:hover {
          &::before {
            bottom: 3px;

            width: 31px;
            height: 26px;

            background-size: 31px 26px;
          }
        }
      }

      img {
        margin-top: 4px;

        width: 31px;
        height: 26px;
      }
    }

    &--fb {
      a {
        &:hover {
          &::before {
            bottom: 3px;

            width: 15px;
            height: 29px;

            background-size: 15px 29px;
          }
        }
      }

      img {
        width: 15px;
        height: 29px;
      }
    }
  }
}
