.social {
  box-sizing: border-box;

  padding: 0;
}

.social__list {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  &:not(:nth-of-type(3n)) {
    margin-right: 30px;
  }

  &--vk {
    img {
      width: 35px;
      height: 21px;
    }
  }

  &--twitter {
    img {
      width: 27px;
      height: 22px;
    }
  }

  &--fb {
    img {
      width: 14px;
      height: 26px;
    }
  }

  a {
    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: $tablet-width) {
  .social__item {
    &:not(:nth-of-type(3n)) {
      margin-right: 17px;
    }

    &--vk {
      img {
        margin-top: 2px;

        width: 22px;
        height: 14px;
      }
    }

    &--twitter {
      img {
        width: 17px;
        height: 14px;
      }
    }

    &--fb {
      img {
        width: 9px;
        height: 16px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    padding: 16px 0 43px 20px;

    width: 100%;
  }

  .social__item {
    &:not(:nth-of-type(3n)) {
      margin-right: 32px;
    }

    &--vk {
      img {
        margin-top: 5px;

        width: 40px;
        height: 24px;
      }
    }

    &--twitter {
      img {
        margin-top: 4px;

        width: 31px;
        height: 26px;
      }
    }

    &--fb {
      img {
        width: 15px;
        height: 29px;
      }
    }
  }
}
